.d-mb-12 {
    margin-bottom: 12px;
}

.d-mb-16 {
    margin-bottom: 16px;
}

.d-mt-16 {
    margin-top: 16px;
}

.d-mt-12 {
    margin-top: 12px;
}

.d-mr-16 {
    margin-right: 16px;
}

.d-ml-16 {
    margin-left: 16px;
}

.d-ma-16 {
    margin: 16px;
}

.d-mx-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.d-my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.d-mb-30 {
    margin-bottom: 30px;
}

.d-pa-30 {
    padding: 30px;
}

.full-height {
    height: 100%;
}
