.d-m {
    &t-{
        &12 {
            margin-top: 12px;
        }
        &16 {
            margin-top: 16px;
        }
        &20 {
            margin-top: 20px;
        }
        &24 {
            margin-top: 24px
        }
        &30{
            margin-top: 30px;
        }
    }

    &b-{
        &12 {
            margin-bottom: 12px;
            }
        &16 {
            margin-bottom: 16px;
            }
        &24 {
            margin-bottom: 24px
        }
        &30{
            margin-bottom: 30px;
        }
    }
}


.d-mr-16 {
    margin-right: 16px;
}

.d-ml-16 {
    margin-left: 16px;
}

.d-ma-16 {
    margin: 16px;
}

.d-mx-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.d-my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.d-pa-30 {
    padding: 30px;
}

.full-height {
    height: 100%;
}
