.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 16px;
    padding: 12px 24px;

    &--white {
        border: 2px solid rgba(49, 29, 93, 1);
        background-color: rgb(255, 255, 255);
    }
    
    &--purple {
        background-color: rgba(38, 32, 96, 1);
    }

    &--blue {
        background: linear-gradient(to right, rgba(53, 92, 213, 1), rgba(113, 74, 180, 1));
    }

    &--big {
        width: 100%;
        letter-spacing: 0.04em;
    }

	&:active {
		box-shadow: 0 0 6px 3px  rgba(53, 92, 213, 0.3);
	}
}

.authorization-toggle {
    width: 230px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
	padding: 2px; 

    &__select-button {
		display: inline;
        background: none;
        border: 0;
        border-radius: 20px;
        padding: 4.5px 10px;
        color: rgba(255, 255, 255, 1);
        background-color: transparent;
        font-size: 18px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0em;

		&.active {
			padding-inline: 17.5px;
			background-color: white;
			color: rgba(38, 32, 96, 1);
		}
    }
}

.show-password-button {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 15px;
	background: none;
	border: 0;
}

.button-container {
	display: flex;

	&--column {
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	&--row {
		gap: 11px;
	}
}

.action-button {
    padding: 9px 22px;
    border: none;
    border-radius: 16px;
    background: linear-gradient(94.6deg, #355cd5 4.52%, #714ab4 107.33%);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s;
}

.action-button:hover {
    background-color: #60a5fa;
}

.action-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}